{% extends 'navBar.html' %}

{% block link %}

{% endblock %}

{% block addNavBar %}
	<li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        	CHOUSE DATA 
        	<span class="caret"></span>
        </a>
        
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        	{% for nameFile in listNameFiles %}
				<li>
					<a href="/viewData/{{ nameFile[:-4] }}">
						{{ nameFile[:-9] }}
					</a>
				</li>
			{% endfor %}

        </ul>
    </li>
{% endblock %}

{% block content %}
{%if isTable%}

	<div class="table-responsive">
		<table class="table table-bordered table-hover ">
			<thead>
				<tr>
					<th>
						#
					</th>

					<th>
						TOWN
					</th>

					<th>
						SALARY
					</th>

					<th>
						POST
					</th>

					<th>
						EXPETIENCE
					</th>

					<th>
						LENGUAGE
					</th>
				</tr>	
			</thead>

			<tbody>
				{% for row in db %}
					<tr>
						<td>
							{{ row[0] }}
						</td>

						<td>
							{{ row[1].decode('utf-8') }}
						</td>

						<td>
							{{ row[2] }}
						</td>

						<td>
							{{ row[3].decode('utf-8') }}
						</td>

						<td>
							{{ row[4] }}
						</td>

						<td>
							{{ row[5].decode('utf-8') }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{%endif%}
	
{% endblock %}