{% extends 'navBar.html' %}


{% block addNavBar %}

{% endblock %}

{% block content %}
<div>
    <form method="POST">
        <select name="nameTable">
            {% for nameFile in listNameFiles %}
				<option value="{{ nameFile[:-4] }}">
					{{ nameFile[:-9] }}
				</option>
			{% endfor %}
        </select>

        <select name="chartOption">
            <option value="town">TOWN</option>
            <option value="post">POST</option>
            <option value="experience">EXPERIENCE</option>
            <option value="lenguage">LENGUAGE</option>
        </select>
        
        <button type="submit"> VIEW CHART </button>
    </form>
</div>

{% block chart %} {% endblock %}

{% endblock %}