{% extends 'viewSalary.html' %}

{% block chart %} 
<script>
    var popCanvas = document.getElementById("popChart");
    var barChart = new Chart(popCanvas, {
        type: '{{ chartType }}',
        data: {
            labels: [
                        {% for part in listComparator %}
                            "{{ part }}",
                        {% endfor %} 
                    ],
            datasets: [{
                label: "average salary for {{ year[:-5] }}",
                data: {{ listAverageSalary }},
                backgroundColor: [
                                    {% for part in listComparator %}
                                        'rgba({{ range(1, 225) | random }}, {{ range(1, 225) | random }}, {{ range(1, 225) | random }}, 0.6)',
                                    {% endfor %}
                                ]
            }]
        }
    });
</script>
{% endblock %}