{% extends 'navBar.html' %}

{% block namePage %}
	soapBox
{% endblock %}

{% block addNavBar %}
	<li><a href="/viewData">VIEW DATA</a></li>
	<li><a href="/viewSalary">VIEW SALARY</a></li>
	<li><a href="/viewStatistics">VIEW STATISTICS</a></li>
{% endblock %}

{% block content %}
    <div class="row">
		<script  src="{{ url_for('static', filename='js/numberControl.js') }}"></script>
				
    	<form>
        	<div class="col-md-2"></div>
        
        	<div class="col-md-4">
        		<h1>Fill out your data</h1>
			
				<label>Town</label>

				<select class="form-control" name="town">
					{% for town in ['Винница', 'Днепр', 'Донецк', 'Другой', 'Житомир', 'Запорожье', 'Ивано-Франковск', 'Киев', 'Кировоград', 'Кропивницкий', 'Луганск', 'Луцк', 'Львов', 'Мариуполь', 'Николаев', 'Одесса', 'Полтава', 'Ровно', 'Севастополь', 'Симферополь', 'Сумы', 'Тернополь', 'Тирасполь', 'Удаленно', 'Ужгород', 'Харьков', 'Херсон', 'Хмельницкий', 'Черкассы', 'Чернигов', 'Черновцы'] %}
						<option value = '{{town}}'>{{town}}</option>
					{% endfor %}
					
					<hr>
					
					<option disabled></option>
					
					<option value = 'Удаленно'>Удаленно</option>
					
					<option value = 'Другой'>Другой</option>
				</select>
 
				<label>Salary</label>
				
				<input type="text" class="form-control onlyNumber" aria-describedby="basic-addon3" name="salary" required>

				<label>Change salary for last year</label>
				
				<input type="text" class="form-control onlyNumber" aria-describedby="basic-addon3" name="changesalary" required>

				<label>Post in company</label>
				
				<input type="text" class="form-control" aria-describedby="basic-addon3" name="post" required>

				<label>Experience in IT</label>
				
				<input type="text" class="form-control onlyNumber" aria-describedby="basic-addon3" name="experience" required>

				<label>Experience on current post</label>
				
				<input type="text" class="form-control onlyNumber" aria-describedby="basic-addon3" name="currentexperience" required>

				<label>Programing lenguage</label>
				
				<input type="text" class="form-control" aria-describedby="basic-addon3" name="lenguage" required>

				<label>Specialization</label>
				
				<input type="text" class="form-control" aria-describedby="basic-addon3" name="specialization" required>
			</div>
 		
 			<div class="col-md-4">

 				<label>Age</label>
				
				<input type="text" class="form-control onlyNumber" aria-describedby="basic-addon3" name="age" required>

				<label>Sex</label>

				<select class="form-control" name="sex">
					<option value="женский">женский</option>

					<option value="мужской">мужской</option>
				</select>
				
				<label>Education</label>

				<select class="form-control" name="education">
					{% for part in ['Высшее', 'Два высших', 'Кандидат', 'Незаконченное высшее', 'Среднее', 'Tехникум / Колледж'] %}
						<option value="{{ part }}">{{ part }}</option>
					{% endfor %}
				</select>
				
				<label>University</label>
				
				<input type="text" class="form-control" aria-describedby="basic-addon3" name="university" required>

				<label>Still student</label>
				
				<select class="form-control" name="stillstudent">
					<option value="True">True</option>

					<option value="False">False</option>
				</select>

				<label>Level english</label>
				
				<select class="form-control" name="lvlenglish">
					{% for part in ['выше среднего', 'ниже среднего', 'продвинутый', 'средний', 'элементарный'] %}
						<option value="{{ part }}">{{ part }}</option>
					{% endfor %}
				</select>
		
				<label>Size company</label>
				
				<select class="form-control" name="sizecompany">
					{% for part in ['до 10 человек', 'до 50 человек', 'до 200 человек', 'до 1000 человек', 'свыше 1000 человек'] %}
						<option value="{{ part }}">{{ part }}</option>
					{% endfor %}
				</select>

				<label>Type company</label>
				
				<select class="form-control" name="typecompany">
					{% for part in ['Аутсорсинговая', 'Аутстаффинговая', 'Продуктовая', 'Стартап'] %}
						<option value="{{ part }}">{{ part }}</option>
					{% endfor %}
					
					<option disabled="--"></option>

					<option value="Другая">Другая</option>
				</select>

				<label>Subject area company</label>
				
				<input type="text" class="form-control" aria-describedby="basic-addon3" name="subjectarea" required>
 		
 				<br>

 				<button type="submit" class="btn btn-default"> SUBMIT </button>
			</div>

 			<div class="col-md-2"></div>
 		</form>
 	</div>
{% endblock %}