{% extends 'navBar.html' %}

{% block namePage %}
	soapBox
{% endblock %}

{% block addNavBar %}
	<li><a href="/viewData">VIEW DATA</a></li>
	<li><a href="/viewSalary">VIEW SALARY</a></li>
	<li><a href="/viewStatistics">VIEW STATISTICS</a></li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        
        <div class="col-md-4">
        	<h1>Fill out your data</h1>
			
			<form>
				<label>Town</label>
				
				<input type="text" class="form-control" aria-describedby="basic-addon3" name="town" required>

				<label>Salary</label>
				
				<input type="text" class="form-control" aria-describedby="basic-addon3" name="salary" required>

				<label>Change salary for last year</label>
				
				<input type="text" class="form-control" aria-describedby="basic-addon3" name="changesalary" required>

				<label>Post in company</label>
				
				<input type="text" class="form-control" aria-describedby="basic-addon3" name="post" required>

				<label>Experience in IT</label>
				
				<input type="text" class="form-control" aria-describedby="basic-addon3" name="experience" required>

				<label>Experience on current post</label>
				
				<input type="text" class="form-control" aria-describedby="basic-addon3" name="currentexperience" required>

				<br>

				<button type="submit" class="btn btn-default"> SUBMIT </button>
			</form>
		</div>

		   lenguage    | specialization | age |   sex   |      education       |       university       | stillstudent |  lvlenglish   |    sizecompany     |   typecompany   |                   subjectarea
 		
 		<div class="col-md-2"></div>
 	</div>


{% endblock %}