{% extends 'navBar.html' %}

{% block namePage %}
	soapBox
{% endblock %}

{% block addNavBar %}
	<li><a href="/viewData">VIEW DATA</a></li>
	<li><a href="/viewSalary">VIEW SALARY</a></li>
	<li><a href="/viewStatistics">VIEW STATISTICS</a></li>
{% endblock %}

{% block content %}
    <div class="row">
    <form>
        <div class="col-md-2"></div>
        
        <div class="col-md-4">
        	<h1>Fill out your data</h1>
			
				<label>Town</label>
				
				<input type="text" class="form-control" aria-describedby="basic-addon3" name="town" required>

				<label>Salary</label>
				
				<input type="text" class="form-control" aria-describedby="basic-addon3" name="salary" required>

				<label>Change salary for last year</label>
				
				<input type="text" class="form-control" aria-describedby="basic-addon3" name="changesalary" required>

				<label>Post in company</label>
				
				<input type="text" class="form-control" aria-describedby="basic-addon3" name="post" required>

				<label>Experience in IT</label>
				
				<input type="text" class="form-control" aria-describedby="basic-addon3" name="experience" required>

				<label>Experience on current post</label>
				
				<input type="text" class="form-control" aria-describedby="basic-addon3" name="currentexperience" required>

				<label>Programing lenguage</label>
				
				<input type="text" class="form-control" aria-describedby="basic-addon3" name="lenguage" required>

				<label>Specialization</label>
				
				<input type="text" class="form-control" aria-describedby="basic-addon3" name="specialization" required>

				
		</div>
 		
 		<div class="col-md-4">

 		<label>Age</label>
				
		<input type="text" class="form-control" aria-describedby="basic-addon3" name="age" required>

		<label>Sex</label>
				
		<input type="text" class="form-control" aria-describedby="basic-addon3" name="sex" required>

		<label>Education</label>
				
		<input type="text" class="form-control" aria-describedby="basic-addon3" name="education" required>

		<label>University</label>
				
		<input type="text" class="form-control" aria-describedby="basic-addon3" name="university" required>

		<label>Still student</label>
				
		<input type="text" class="form-control" aria-describedby="basic-addon3" name="stillstudent" required>

		<label>Level english</label>
				
		<input type="text" class="form-control" aria-describedby="basic-addon3" name="lvlenglish" required>

		<label>Size company</label>
				
		<input type="text" class="form-control" aria-describedby="basic-addon3" name="sizecompany" required>

		<label>Type company</label>
				
		<input type="text" class="form-control" aria-describedby="basic-addon3" name="typecompany" required>

		<label>Subject area company</label>
				
		<input type="text" class="form-control" aria-describedby="basic-addon3" name="subjectarea" required>
 		
 		<br>

 		<button type="submit" class="btn btn-default"> SUBMIT </button>
			
 		</div>

 		<div class="col-md-2">
<input type="tel">
		<script>
			$('[type=tel]').on('change', function(e) {
  $(e.target).val($(e.target).val().replace(/[^\d\.]/g, ''))
})
$('[type=tel]').on('keypress', function(e) {
  keys = ['0','1','2','3','4','5','6','7','8','9','.']
  return keys.indexOf(event.key) > -1
})
		</script>
 		</div>
 	</form>
 	</div>


{% endblock %}