{% extends 'navBar.html' %}

{% block namePage %}
    viewSalary
{% endblock %}

{% block content %}
    <Br>
    <div class="row">
        <div class="col-md-2">
            <Br>
            <form name = "form">
                <label>Select type of comparator</label>

                <select name="comparator" class="form-control">
                    <option value="town">TOWN</option>
                    
                    <option value="post">POST</option>
                    
                    <option value="lenguage">LENGUAGE</option>
                    
                    <option value="experience">EXPETIENCE</option>

                    <option value="sex">SEX</option>

                    <option value="age">AGE</option>

                    <option value="education">EDUCATION</option>

                    <option value="university">UNIVERSITY</option>
                    
                    <option value="stillstudent">STILL STUDENT</option>
                    
                    <option value="lvlenglish">LVL ENGLISH</option>
                </select>

                <label>Select data</label> <br>
    
                <input type="checkbox" name="years" value="allYears">all years<br>
                
                {% for year in listAllYears %}
                    <input type="checkbox" name="years" value="{{ year }}">{{ year }}<br>
                {% endfor %}

                <button type="button" > VIEW CHART </button>
            </form>
        </div>
       
        <script  src="{{ url_for('static', filename='js/viewChartSalary.js') }}"></script>
        
        <div class="col-md-9">
            <canvas id="popChart"></canvas>

            {% block chart %} {% endblock %}
        </div>
    </div>
{% endblock %}