{% extends 'viewDataStart.html' %}

{% block namePage %}
	viewData
{% endblock %}

{% block content %}
{{ pagination.links }}
	<div class="table-responsive">
		<table class="table table-bordered table-hover ">
			<thead>
				<tr>
					<th>#</th>
					<th>
						TOWN
					</th>

					<th>
						SALARY
					</th>

					<th>
						POST
					</th>

					<th>
						EXPETIENCE
					</th>

					<th>
						LENGUAGE
					</th>
				</tr>	
			</thead>

			<tbody>
				{% for row in d %}
					<tr>
						<td>{{ loop.index + (page - 1) * per_page }}</td>
						<td>
							{{ row[0] }}
						</td>

						<td>
							{{ row[1] }}
						</td>

						<td>
							{{ row[2] }}
						</td>

						<td>
							{{ row[3] }}
						</td>

						<td>
							{{ row[4] }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}