{% extends 'viewSalary.html' %}

{% block chart %}
<canvas id="popChart" width="600" height="400"></canvas>
<script>
document.write('!!!!!!!!!!');
var l = [];
var d = [];
{% for da in listAverageSalary %}
	l[l.length] = {{ da[0].decode('utf-8') }};
	d[d.length] = {{ da[1] }};
	document.write('{{ da[0].decode('utf-8') }}');
{% endfor %}
document.write(l);
console.log("!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!");
console.log(d);
var popCanvas = document.getElementById("popChart");
var barChart = new Chart(popCanvas, {
  type: 'bar',
  data: {
    labels: l,
    datasets: [{
      label: 'Population',
      data: d,
      backgroundColor: [
        'rgba(255, 99, 132, 0.6)',
  
      ]
    }]
  }
});
</script>
{% endblock %}