{% extends 'optionChart.html' %}

{% block namePage %}
    viewSalary
{% endblock %}

{% block chart %} 
    <script>
        var popCanvas = document.getElementById("popChart");
        
        var barChart = new Chart(popCanvas, {
            type: '{{ chartType }}',
            
            data: {
                labels: [
                    {% for part in listData[0] %}
                        '{{ part }}',
                    {% endfor %}
                ],
                
                datasets: [
                    {% for i in range(listYears|length) %}
                        {
                            fill: true,
                            
                            label: "average salary for {{ listYears[i] }}",
                            
                            data: {{ listData[i+1] }},
                            
                            borderWidth: 1,
                            
                            borderColor:  'rgba({{ range(225)|random }}, {{ range(225)|random }}, {{ range(225)|random }}, 1)',
                            
                            backgroundColor:  'rgba({{ range(225)|random }}, {{ range(225)|random }}, {{ range(225)|random }}, 0.4)',
                        },
                    {% endfor %}
                ]
            }
        });
    </script>

{% endblock %}