{% extends 'navBar.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-2">
            <form name = "form" method="POST">
                <label>Select type of chart</label>

                <select name="chartType" class="form-control">
                    <option value="line">LINE</option>
                    
                    <option value="bar">BAR</option>
                    
                    <option value="radar">RADAR</option>
                </select>

                <label>Select type of comparator</label>

                <select name="chartOption" class="form-control">
                    <option value="town">TOWN</option>
                    
                    <option value="post">POST</option>
                    
                    <option value="lenguage">LENGUAGE</option>
                    
                    <option value="experience">EXPETIENCE</option>

                    <option value="sex">SEX</option>

                    <option value="age">AGE</option>

                    <option value="education">EDUCATION</option>

                    <option value="university">UNIVERSITY</option>
                    
                    <option value="stillstudent">STILL STUDENT</option>
                    
                    <option value="lvlenglish">LVL ENGLISH</option>
                </select>

                <label>Select data</label> <br>
    
                <input type="checkbox" name="years" value="allYears">all years<br>
                
                {% for year in [2011, 2012, 2013, 2014, 2015, 2016, 2017] %}
                    <input type="checkbox" name="years" value="{{ year }}">{{ year }}<br>
                {% endfor %}

                <button type="submit" class="btn btn-default"> VIEW CHART </button>
            </form>
        </div>
       
        <script  src="{{ url_for('static', filename='js/checkboxControl.js') }}"></script>
        
        <div class="col-md-9">
            <canvas id="popChart"></canvas>

            {% block chart %} {% endblock %}
        </div>
    </div>
{% endblock %}