{% extends 'navBar.html' %}

{% block script %}

{% endblock %}

{% block content %}
<div>
    <form method="POST">
        <select name="nameFile">
            {% for nameFile in listNameFiles %}
				<option value="{{ nameFile[:-4] }}">
					{{ nameFile[:-9] }}
				</option>
			{% endfor %}
        </select>

        <select name="chartOption">
            <option value="town">TOWN</option>
            <option value="post">POST</option>
            <option value="lenguage">LENGUAGE</option>
        </select>
        
        <button type="submit"> VIEW CHART </button>
    </form>
</div>

<canvas id="popChart" width="600" height="400"></canvas>

<script>
    var popCanvas = document.getElementById("popChart");
    var barChart = new Chart(popCanvas, {
        type: 'bar',
        data: {
            labels: [
                        {% for part in listComparator %}
                            "{{ part }}",
                        {% endfor %} 
                    ],
            datasets: [{
                label: "average salary for {{ year[:-5] }}",
                data: {{ listAverageSalary }},
                backgroundColor: [
                                    {% for part in listComparator %}
                                        'rgba({{ range(1, 225) | random }}, {{ range(1, 225) | random }}, {{ range(1, 225) | random }}, 0.6)',
                                    {% endfor %}
                                ]
            }]
        }
    });
</script>
{% endblock %}