{% extends 'navBar.html' %}

{% block addNavBar %}
	<li class="nav-item"><a class="nav-link" href="/">HOME</a></li>
	<li class="nav-item active"><a class="nav-link" href="/viewData">VIEW DATA</a></li>
	<li class="nav-item"><a class="nav-link" href="/viewSalary">VIEW SALARY</a></li>
	<li class="nav-item"><a class="nav-link" href="/viewStatistics">VIEW STATISTICS</a></li>
	<li class="nav-item dropdown">
		<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			CHOUSE DATA 
		
			<span class="caret"></span>
		</a>

		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			{% for year in listAllYears %}
				<a class="dropdown-item" href="/viewData/{{ year }}">
					{{ year }}
				</a>
			{% endfor %}

			<a class="dropdown-item" href="/viewData/allData">
				all data
			</a>
		</div>
	</li>

	<li class="nav-item">{{ pagination.links }}</li>
{% endblock %}

{% block content %}
	<div class="table-responsive">
		<table class="table table-bordered table-hover ">
			<thead>
				<tr>
					<th>
						#
					</th>
					
					<th>
						TOWN
					</th>

					<th>
						SALARY
					</th>

					<th>
						POST
					</th>

					<th>
						EXPETIENCE
					</th>

					<th>
						LENGUAGE
					</th>
				</tr>	
			</thead>

			<tbody>
				{% for data in d %}
					<tr>
						<td>
							{{ loop.index + (page - 1) * per_page }}</td>
						<td>
							{{ data[0] }}
						</td>

						<td>
							{{ data[1] }}
						</td>

						<td>
							{{ data[2] }}
						</td>

						<td>
							{{ data[3] }}
						</td>

						<td>
							{{ data[4] }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}