{% extends 'optionChartStatistics.html' %}

{% block namePage %}
    viewStatistics
{% endblock %}

{% block chart %} 
    <script>
        var popCanvas = document.getElementById("popChart");
        
        var barChart = new Chart(popCanvas, {
            type: '{{ chartType }}',
            
            data: {
                labels: [
                    {% for part in listData[0] %}
                        '{{ part }}',
                    {% endfor %}
                ],
                
                datasets: [
                    
                        {
                            fill: true,
                            
                            label: "average salary for {{ year}}",
                            
                            data: {{ listData[1] }},
                            
                            borderWidth: 1,
                            
                            borderColor:  [
                            {% for part in listData[0] %}
                            'rgba({{ range(225)|random }}, {{ range(225)|random }}, {{ range(225)|random }}, 1)',
                            {%endfor%}
                            ],
                            
                            backgroundColor:  [
                            {% for part in listData[0] %}
                            'rgba({{ range(225)|random }}, {{ range(225)|random }}, {{ range(225)|random }}, 0.4)',
                            {%endfor%}],
                        },
                    
                ]
            }
        });
    </script>
{% endblock %}