{% extends 'navBar.html' %}

{% block namePage %}
    viewData
{% endblock %}

{% block addNavBar %}
	<li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        	CHOUSE DATA 
        	<span class="caret"></span>
        </a>
        
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        	{% for year in listAllYears %}
				<li>
					<a href="/viewData/{{ year }}">
						{{ year }}
					</a>
				</li>
			{% endfor %}
            
            <li>
                    <a href="/viewData/allData">
                        all data
                    </a>
            </li>

        </ul>
    </li>
{% endblock %}